@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Enforce Premium Dark Theme by default */
    --background: 14 14 14; /* Zinc 950 */
    --foreground: 251 251 251;
    --card: 20 20 20;
    --card-foreground: 251 251 251;
    --popover: 20 20 20;
    --popover-foreground: 251 251 251;
    --primary: 251 251 251;
    --primary-foreground: 30 30 30;
    --secondary: 39 39 42;
    --secondary-foreground: 251 251 251;
    --muted: 39 39 42;
    --muted-foreground: 161 161 170;
    --accent: 39 39 42;
    --accent-foreground: 251 251 251;
    --destructive: 239 68 68;
    --destructive-foreground: 251 251 251;
    --border: 255 255 255 / 10%;
    --input: 255 255 255 / 15%;
    --ring: 113 113 122;
    --chart-1: 99 102 241;
    --chart-2: 34 197 94;
    --chart-3: 251 191 36;
    --chart-4: 168 85 247;
    --chart-5: 249 115 22;
    --radius: 0.625rem;
    --sidebar-background: 14 14 14;
    --sidebar-foreground: 251 251 251;
    --sidebar-primary: 99 102 241;
    --sidebar-primary-foreground: 251 251 251;
    --sidebar-accent: 39 39 42;
    --sidebar-accent-foreground: 251 251 251;
    --sidebar-border: 255 255 255 / 10%;
    --sidebar-ring: 113 113 122;
  }
}
